{{define "home"}}
<html>
  <head>
    <title>Dxfer</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      {{template "nav"}}
      {{if ne .Error ""}}
        <div class="alert alert-danger" role="alert">
          {{.Error}}
        </div>
      {{end}}
      {{template "form" .}}
    </div>
  </body>
</html>
{{end}}
